html {
  font-family: Verdana, Helvetica;
}

h1 {
  font-size: 1.2rem;
}

.main {
  width: 75%;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

div {
  position: relative;
}

/* TODO: this, better */
div.animated {
  position: absolute;
  top: 50px;
  left: 200px;
}

.hidden {
  display: none;
}

.image-title {
  margin-bottom: 30px;
}

.progress div {
  position: absolute;
  height: 10px;
}

.progress .total {
  width: 100%;
  background-color: blue;
}

.progress .complete {
  background-color: silver;
}

.progress .text {
  top: 16px;
}
