@import "compass/css3/border-radius";
@import "compass/css3/flexbox";

$background-color: #FFEACF;
$panel-color: #FACC91;

html {
  font-family: Verdana, Helvetica;
}

body {
  margin: 0;
  background-color: $background-color;
}

h1 {
  font-size: 1rem;
}

div {
  position: relative;
}

$panel-margin: 5vh 5vw;

.hidden {
  display: none;
}

.main {
  @include flexbox((
    display: flex,
    flex-direction: column
  ))
}

.content {
  @include flexbox((
    display: flex,
    flex-direction: row
  ))

  // TODO: use media queries to apply this style on phone-sized screens
  // @include flexbox((
  //   display: flex,
  //   flex-direction: column-reverse
  // ))
}

.information {
  @include border-radius(2vh);
  background-color: $panel-color;
  margin: $panel-margin;
  padding: 2vh 2vw;
  font-size: 0.8rem;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.tinder {
  margin: $panel-margin;

  .previous {
    position: absolute;
    top: -16px;
  }

  img {
    max-width: 80vw;
    max-height: 80vh;
  }
}

.image-title {
  margin-bottom: 30px;
}

.progress-bar {
  .total, .complete {
    height: 1vh;
  }

  .total {
    margin-bottom: -1vh;
    width: 100%;
    background-color: #A9EBFF;
  }
  
  .complete {
    background-color: #529DB2;
  }
}
