@import "compass/css3/border-radius";
@import "compass/css3/flexbox";

html {
  font-family: Verdana, Helvetica;
}

h1 {
  font-size: 1rem;
}

div {
  position: relative;
}

.panels {
  margin-top: 20px;
}

.left-panel, .right-panel {
  display: inline-block;
  vertical-align: top;
}

.left-panel {
  width: 20%;
  margin-right: 5rem;
  padding: 1.5rem;
  background-color: skyblue;
}

.instructions, .progress {
  font-size: 0.8rem;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.tinder {
  .previous {
    position: absolute;
    top: -16px;
  }
}


.hidden {
  display: none;
}

.image-title {
  margin-bottom: 30px;
}

.progress-bar {
  .total, .complete {
    height: 10px;
  }

  .total {
    width: 100%;
    background-color: blue;
  }
  
  .complete {
    background-color: silver;
  }
}
